:host {
  display: block;
}

:host([slot="top"]) {
  margin: var(--leaflet-control-margin);
}

[part="header"] {
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
}

[part="content"] {
  background: var(--leaflet-control-inner-background);
  border: var(--leaflet-control-border);
  border-radius: var(--leaflet-control-border-radius);
  box-shadow: var(--leaflet-control-box-shadow);
  max-width: 100%;
  overflow: hidden;
  padding: var(--leaflet-control-padding);
}

::slotted(*) {
  display: block;
}

vga-ui-collapse::part(header) {
  margin: 0 var(--leaflet-control-margin);
}

vga-ui-collapse::part(content) {
  margin: var(--leaflet-control-margin);
}

#show-in-large-view-button {
  font-size: 1.2rem;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

#show-in-large-view-button:hover {
  transform: scale(1.2);
}

#show-in-large-view-button:active {
  transform: scale(0.9);
}
